.home-login-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;

    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 320px;
    h1 {
      margin-bottom: 20px;
    }
    .form-group {
      position: relative;
      margin-bottom: 20px;
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      label {
        position: absolute;
        top: -8px;
        left: 10px;
        background-color: white;
        padding: 0 5px;
        color: #666;
        font-size: 12px;
      }
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #28a745;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #218838;
      }
    }
    a {
      display: block;
      margin: 10px 0;
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .or {
      margin: 20px 0;
      position: relative;
      text-align: center;
      &::before,
      &::after {
        content: "";
        width: 40%;
        height: 1px;
        background: #ccc;
        position: absolute;
        top: 50%;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
      span {
        background: white;
        padding: 0 10px;
        position: relative;
        color: #666;
      }
    }
    .social-login {
      display: flex;
      flex-direction: column;
      gap: 8px;
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #ccc;
        background: white;
        color: #666;
        padding: 4px;
        height: 40px;
        .svg-icon {
          margin-right: 10px;
          width: 60px;
        }
      }
    }
  }
}
