.global-custom-message {
  width: fit-content;
  height: 50px;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: 40px;
  border-width: var(--el-border-width);
  border-style: var(--el-border-style);
  border-color: var(--el-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--el-message-bg-color);
  transition:
    opacity var(--el-transition-duration),
    transform 0.4s,
    top 0.4s;
  padding: var(--el-message-padding);
  display: flex;
  align-items: center;

  .el-message__content {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
  }
}
