.chat-settings-drawer {
  background-color: white;
  border-radius: 5px 0px 0px 5px;
  width: 500px !important;

  .el-drawer__header {
    margin-bottom: 0px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .label {
        font-size: 18px;
        color: black;
        font-family: "Microsoft YaHei";
        font-weight: bold;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;

    .scroll-bar {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 100%;
      align-items: center;

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20px;
        width: 100%;
        justify-content: flex-start;

        .label {
          font-size: 12px;
          color: black;
          font-family: "Microsoft YaHei";
          font-weight: bold;
        }
        .icon {
          height: 16px;
          width: 16px;
          margin-right: 4px;
        }
      }

      .item-text {
        display: flex;
        justify-content: right;
        width: 150px;
        font-size: 12px;
        color: black;
      }

      .item {
        height: 40px;
        width: 434px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 8px;
        padding: 4px 8px;

        .input {
          width: calc(100% - 150px - 20px);
          height: 32px;

          .el-input__wrapper {
            border-radius: 10px;
            border: 1px solid #7d7d7d;

            &.is-focus {
              border: 1px solid blue;
            }
          }
        }

        .item-select {
          .el-input__wrapper {
            border-radius: 10px;
            border: 1px solid #7d7d7d;

            &.is-focus {
              border: 1px solid blue;
            }

            .el-input__inner {
              width: 220px;
            }
          }
        }

        .slider {
          height: 32px;
          width: calc(100% - 150px - 120px);
          margin-left: 8px;
          margin-right: 8px;
          .el-slider__bar {
            background-color: #7d7d7d;
          }
          .el-slider__button {
            border: 2px solid #7d7d7d;
          }
        }

        .input-slider {
          width: 75px;
          height: 32px;
          .el-input__wrapper {
            border-radius: 10px;
            border: 1px solid #7d7d7d;
            &.is-focus {
              border: 1px solid blue;
            }
          }
        }

        .c-switch {
          --el-switch-on-color: #10a37f;
          --el-switch-off-color: #e3e3e3;
          --el-switch-border-color: "transparent";
        }
      }

      .item-textarea {
        height: 60px;
        width: 434px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap: 8px;
        padding: 4px 8px;

        .input {
          width: calc(100% - 150px - 20px);
          height: 50px;

          .el-textarea__inner {
            height: 50px;
            border-radius: 10px;
            border: 1px solid #7d7d7d;
            outline: none;
            box-shadow: none;
            resize: none;
          }
        }
      }
    }
  }

  .dialog-footer {
    .cancel {
      background-color: transparent;
      border-radius: 16px;
      border-color: #7d7d7d;
      &:hover {
        background-color: #ececec;
        color: black;
      }
      &:active {
        background-color: #ececec;
        color: black;
      }
    }
    .confirm {
      background-color: #ef4444;
      border-radius: 16px;
      border-color: none;
      color: white;
      &:hover {
        background-color: #e71d1d;
      }
      &:active {
        background-color: #e71d1d;
      }
    }
  }
  .divider {
    margin: 0px;
  }

  .icon {
    color: #7d7d7d;
    background-color: transparent;
    height: 16px;
    width: 16px;
  }

  .text {
    font-size: 14px;
    color: black;
  }
}
